@import url("./fonts.css");
@import url('./colors/globals.css');
@import url('./icons.css');
body {
  background-color: var(--background_color);
  color: var(--text-color);
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
