@import url("./fonts.css");
@import url('./colors/globals.css');
@import url('./icons.css');
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-helvetica-light);
}
